<!DOCTYPE html>
<html lang="en" class="nontranslate">

<head>
    <meta charset="UTF-8">
    <title>URL Shortener</title>
    <link rel="shortcut icon" type="image/ico" href="{{ url_for( 'static', filename='images/favicon.ico' ) }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/error.css')}}">
</head>

<body>
    <div class="error-box">
        <div class="error-box__container">
            <img class="error-box__image" src="{{ url_for( 'static', filename='images/sad_emoji.svg' ) }}">
            <h1 class="error-box__title">{{ code }}</h1><br>
            <p class="error-box__text">{{ value }}</p>
        </div>
    </div>
</body>

</html>
