html {
    background: linear-gradient(to top left, rgb(164, 115, 243), rgb(64, 111, 241)) fixed;
}

.links__section {
    height: auto;
    margin-top: calc((100vh - 135px) / 2);
}

.links__section-container {
    display: flex;
    height: 60px;
    width: 60vw;
    margin: auto;
    margin-bottom: 15px
}

.input__link {
    display: block;
    box-sizing: border-box;
    width: calc(100% - 100px);
    min-width: 440px;
    border: 2px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    border-radius: 16px 0 0 16px;
    font: 18px sans-serif;
    text-indent: 16px;
}

.input__link:focus {
    outline: none;
}

.input__button {
    height: 60px;
    width: 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 0 16px 16px 0;
    border: 2px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
}

.input__button:hover > .svg_icon {
    color: rgb(255, 255, 255);
}

.input__button:hover > .svg_icon path, .svg_icon polygon, .svg_icon rect {
    fill: rgb(255, 255, 255);
}

.input__button:focus {
    outline: none;
}

.copy_button_text {
    font-weight: 700;
    font: 17px sans-serif;
}

.blue_button:hover {
    cursor: pointer;
    background-color: rgb(156, 203, 245);
}

.blue_button:hover > .rotate_icon {
    transform: rotate(360deg);
}

.green_button:hover {
    cursor: pointer;
    background-color: rgb(85, 235, 110);
}

.svg_icon {
    display: block;
    width: 42px;
    height: 42px;
    margin: auto;
}

.rotate_icon {
    transition: transform .6s;
    transform-origin: center center;
}
