<!DOCTYPE html>
<html lang="en" class="nontranslate">

<head>
    <meta charset="UTF-8">
    <title>URL Shortener</title>
    <link rel="shortcut icon" type="image/ico" href="{{ url_for( 'static', filename='images/favicon.ico' ) }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/index.css' )}}">
    <script defer src="{{ url_for( 'static', filename='js/index.js' )}}"></script>
</head>

<body>
    <div class="links__section">
        <div class="links__section-container">
            <input class="input__link" placeholder="Your URL" id="user_link">
            <button class="input__button blue_button" onclick="receiveShortLink()">
                <img src="{{ url_for( 'static', filename='images/exchange.svg' ) }}" class="svg_icon rotate_icon">
            </button>
        </div>
        <div class="links__section-container">
            <input class="input__link" placeholder="New URL" id="new_link" readonly>
            <button class="input__button green_button" id="copy_button" onclick="copyText()">
                <img src="{{ url_for( 'static', filename='images/chain.svg' ) }}" class="svg_icon" id="copy_button_icon">
            </button>
        </div>
    </div>
</body>

</html>
