<!DOCTYPE html>
<html lang="en" class="nontranslate">

<head>
    <meta charset="UTF-8">
    <title>URL Shortener</title>
    <link rel="shortcut icon" type="image/ico" href="{{ url_for( 'static', filename='images/favicon.ico' ) }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/page_not_found.css')}}">
</head>

<body>
    <div class="error_box">
        <h1 class="error_title">404</h1><br>
        <p class="error_text">This page not found.</p>
    </div>
</body>

</html>
